.main-content {
    background-color: lightgray;
    font-style: italic;
    text-align: center;
    border-radius: 10px;
}

.main-text-content {
    font-size: 50px;  

}

#picture {
   width:  200px; 
  
}
.content {
    font-style: italic;  
}
